@import "background.css";
/* body{
    margin-left : 80vh;
    margin-right : 80vh;
    margin-top : 2vh;
    background-color : gray;
}

.page{
    background-color : white;
    width: 45vh;
    height : 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.page{
    height : 83vh;
}

.top{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    line-height : 0px;
    margin-right: 50px;
    margin-left : 5vh; 
}

.bottom{
    background-color: white;
    width:45vh;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:1vh;
    z-index: 1;
    

}

.dod{
    margin-right: 5vh;
    padding-top:5px;
}

.man{
    margin-left: 5vh;
    padding-top: 5px;
}

.home{
    padding-top: 5px;
}

.images{
    width: 42vh;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left :3vh;
  
}

.image1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 50%;
    width: 43vh;
   

}

.image2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 50%;
    width: 43vh;
}

.image3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 50%;
    width: 43vh;
    margin-left: 5px;
}
.image4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 28%;
    width: 43vh;
    padding-top: 10px;
   
}
hr{
    width: 47.7vh;
    margin-left:-3vh;
}
#hot{
  color: red;
}

#deal{
    font-size: 20px;
}

#font{
    position: relative;
    z-index: 1;
    color: black;

}

#im{
    position: relative;
    z-index: 0;
}   

.photo{
    width : 76px;
    height : 69px;
}