body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 14px;
    margin-left: 80vh;
    margin-right: 80vh;
}
.page{
    /* Login */
    position: relative;
    height: 812px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

/* 상단바 이미지 크기 */
.top-box img{
    width:9vh;
    height:24px;
    position: relative;
    right: -10px;
}

/* 시계크기 */
.time_box{
    margin-right: 35vh;
}
   
.clock span { color: black; }

/* 시계텍스트크기 */
.txt_lg { 
    font-size: 12px;
    font-weight:900;
 }


.wrapper{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}
.middle-title{
    width: 10vh;
    height: 127px;
    left: 126px;
    top: 164px;
    font-family: 'NATS';
    font-style: normal;
    font-weight: 40;
    font-size: 30px;
    line-height: 127px;
  
/* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #99E599;
    justify-content: center;
}


.middle-loginbox a{
    text-decoration: none;
    color: grey;
    margin: 0 10px;
}

.division-line a{
    text-decoration: none;
    color: grey;
    margin: 0 10px;
}

.middle-loginbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 0.8rem 0;
}

#login{
    background-color: rgb(51, 131, 237);
    color: white;
    display: flex;
    justify-content: center;
    width: 50vh;
    padding: 7px;
    border: none;
    border-radius: 5px;
    height: 60px;
    font-size: 20px;    
}


.top{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}



.submit-btn{
    box-sizing: border-box;
    position: absolute;
    background: #99E599;
    border: 2px solid #99E599;
    border-radius: 6px;
    width:43vh;
    height:52px;

}

.text-field{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #99E599;
    width:43vh;
    height:52px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    vertical-align: 26px
}

.middle-box{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 150px;
}    


.top-box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


