body{
    margin-left : 80vh;
    margin-right : 80vh;
    margin-top : 2vh;
    background-color : #333;
}

.page{
    background-color : white;
    height : 100vh;
}
.first-line{
    display : flex;
    
}
.undo{
    margin-left : 16px;
    flex-basis : 70%;

}
.undo img{
    width:2vh;
    height:2vh;
    margin-top : 3vh;
}
.save-button{
    margin-top : 3vh;
    background-color : #99E599;
    width : 10vh; 
    border : none ;
    border-radius : 1vh;
}
.second-line{
    font-weight: bold;
    font-size : 5vh;
    margin-left : 3vh;
}

.third-line{
    display : flex;
    margin-left : 3vh;
    margin-top : 1vh;
    margin-bottom : 4vh;
}
.date{
    flex-basis: 30%;
}

.fourth-line .map .map-img{
    width : 52.5vh;
    height : 40vh;
    z-index : 1;
    position : absolute;

}
.fourth-line .map .pin1{
    z-index : 2;
    position: relative;
    bottom : 1.5vh;
    left : 9vh;

}
.fourth-line .map .pin2{
    z-index : 2;
    position: relative;
    left : 40.6vh;
    top : 3vh;
}
.fourth-line .map .pin3{
    z-index : 2;
    position: relative;
    left : 23vh;
    bottom : 3vh;
}
