/* @import "background.css"; */

body{
    margin-left : 80vh;
    margin-right : 80vh;
    margin-top : 2vh;
    background-color : gray;
}

.page{
    background-color : white;
    width: 45vh;
    height : 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.May{
    width:45vh;
    height: 70vh;
    text-align: center;
}

.june{
    width:45vh;
    height: vh;
    text-align: center;
}

.first{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 13px;
}

.second{
    display:flex;
    flex-direction: column;

    justify-content: space-evenly;
    padding-top: 13px;
}

.third{
    display:flex;
    flex-direction: column;

    justify-content: space-evenly;
    padding-top: 13px;
}

.fourth{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly; 
    padding-top: 14px;
    padding-bottom: 36px;
}

.fifth{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 14px;
    padding-bottom: 36px;
}
.sixth{
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 36px;
    justify-content: space-evenly;

}
.seventh{
    display: flex;
    flex-direction: column;
    padding-top:13px;
    justify-content: space-evenly;
    padding-top: 14px;
    padding-bottom: 36px;
}

.fourth1{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly; 
    padding-top: 15px;
    padding-bottom: 0px;
}

.fifth1{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly; 
    padding-top: 15px;
    padding-bottom: 0px;
}

.sixth1{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly; 
    padding-top: 15px;
    padding-bottom: 0px;
}

.seventh1{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly; 
    padding-top: 15px;
    padding-bottom: 0px;
}

#nu{
    background-color: white;
    border:none;
    font-size:20px;
    margin-top: 15px;
    transition-duration: 0.3s;
}

#nu:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 100px;
}

#nu1:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px red;
    border-radius: 100px;
}

#nu2:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px blue;
    border-radius: 100px;
}

#nu3:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 100px;
}

#nu1{
    background-color: white;
    border:none;
    font-size:20px;
    color: red;
    margin-top: 15px;
    transition-duration: 0.3s;
}


#nu2{
    background-color: white;
    border:none;
    font-size:20px;
    color: blue;  
    margin-top: 10px;
    transition-duration: 0.3s;
}

#nu3{
    background-color: white;
    border:none;
    font-size:20px;
    margin-top: 10px;
    transition-duration: 0.3s;
}

#nu4{
    background-color: white;
    border:none;
    font-size:20px;
    margin-top: 10px;
    transition-duration: 0.3s;
}

#nu4:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 100px;
}

#nu5{
    background-color: white;
    border-radius: 50%;
    font-size:20px;
    background-color: #D9D9D9;
    color: red;
    margin-top: 15px;
    transition-duration: 0.3s;
}

#back{
    margin-right: 37vh;
    margin-top: 2vh;
    width: 3vh;
}




.bottom{
    background-color: white;
    width:45vh;
    height: 1vh;
    margin-top:10vh;
    display: flex;
    justify-content: space-evenly;
   flex-direction: row;
    position: relative;
    top:1vh;
    z-index: 1;
    

}


.dod{
    margin-right: 5vh;
    padding-top:5px;
}

.man{
    margin-left: 5vh;
    padding-top: 5px;
}

.home{
    padding-top: 5px;
}

hr{
    background-color: gainsboro;
    height: 0.5vh;
    color: gainsboro;
    width: 100%;
    margin-top:43vh;