body{
    margin-top : 14px;
    margin-left : 80vh;
    margin-right : 80vh;
    background-color : #333;
}
.page{
    background-color: white;
    height : 90vh;
}

.undo{
    margin-left : 16px;

}
.undo img{
    width : 15px;
    height : 15px;
}
.sign-up{
    font-size : 45px;
    margin-left : 15vh;
    margin-right : 15vh;
    color : #99E599;
    Font:"Nats";
    padding-bottom:0px;
}
.info{
    margin-top : 20px;
    margin-left : 36px;
}
.info-id{
    font-size : 15px;
    font : "Nats";
}
input{
    margin-left : 36px;
    width : 340px;
    height : 50px;
    border-bottom : solid 2px #99E599;
    border-top: none;
    border-left:none;
    border-right:none;
    
}
form p{
    margin-left : 36px;
    margin-bottom :0px;
}
hr{
    margin-top:41px;
    width : 340px;
   
    color : #99E599;
    border : 0.5px solid;
}
.box{
    box-sizing : border-box;
    
    margin-top:25px;
    margin-left : 88px;
    margin-right : 88px;
    width:35vh;
    height : 60px;
    text-align : center;
    background-color:#99E599;
    color : white;
    border-radius:6px;
    padding-top: 20px;
}