@import "background.css";
.page{
    background-color : #fef7e5;
}
.first-line{
    margin-top : 3vh;
    display: flex;
    margin-left : 33.7vh;
}



.button{
    margin-left : 1vh;
    height : 3vh;
    background-color: white;
    /* border : none; */
    border-radius: 1vh;
    
    font-size : 15px;
    height: 40px;
}
a{
    text-decoration-line : none;
    color : black;
}

.map{
    width : 48vh;
    height : 60vh;
}