body{
    margin-left : 80vh;
    margin-right : 80vh;
    margin-top : 2vh;
    background-color : gray;
}

.page{
    background-color : white;
    width: 45vh;
    height : 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-1{
    width: 40vh;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

  }

  .container-1 input#search{
    box-sizing: border-box;
    background: white;
    border: 2px solid whitesmoke;
    width:40vh;
    height:52px;
    padding-top: 10px;
    position: relative;
    box-shadow: 0px 0px 10px gray; 
    padding-left: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 17px;
  }

  .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }


 }
 .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: -8px;
    z-index: 1;
    color: #4f5b66;
    height: 100px;
  }

#s{
    margin-left: 330px;
     transition-duration: 0.3s;
     height: 500px;
}
#s:active{
    margin-right: 5px;
    margin-top: 3px;
    box-shadow: none;
}


/* .top{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
       
}

.text-field{
    box-sizing: border-box;
    background: white;
    border: 2px solid whitesmoke;
    width:40vh;
    height:52px;
    padding-top: 10px;

    background-image:url('../images/어디로.jpg');
    background-repeat:no-repeat;
    background-size: 360px ;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 10px gray;
} */

.button{
    width: 44vh;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}

.button button{
    font-size: 13px;
    background-color: white;
    font-family: 'Nanum Gothic';
    border: solid 2px whitesmoke;
    border-radius: 6px;
    box-shadow: 0px 0px 10px gray;
    transition-duration: 0.3s;
}

.button button:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

.map{
    position: absolute;
    z-index: 0;
    width: 45vh;
    height : 45vh;
    /* display: flex;
    justify-content: center; */
    
}


.bottom{
    background-color: white;
    width:45vh;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
   
    position: relative;
    top:66vh;
    z-index: 1;
  

}




.dod{
    margin-right: 5vh;
    padding-top:5px;
}

.man{
    margin-left: 5vh;
    padding-top: 5px;
}

.home{
    padding-top: 5px;
}

.button2{
    height: 55px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    z-index: 2;
    top: 610px;
    margin-left: 400px;
    
}

.bu{
    background-color: black;
    font-size: 10px;
    color: white;
    font-family: 'Nanum Gothic';
}

/* .pin{
    background-image: url(../images/pin1.svg);
    background-repeat: no-repeat;
    width:30vh;
    height:auto;
    position: relative;
    z-index: 2;
}

   
.pin{
    width:30vh;
    height: 50vh;
    background-image: url("../images/pin\ 1.svg");
    background-repeat: no-repeat;
}
.clicked{
    background-image: url("../images/pin\ 2.svg");
    background-repeat: no-repeat;
}

.click{
    width:10vh;
    height: 20vh;
    background-image: url("../images/pin1.svg");
    background-repeat: no-repeat;
    position: relative;
    z-index:1;
} */

