<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/hotdeal.css">
</head>
<body>
    <div class="page">
        <div class="top">
            
            <h1 id="hot">핫딜</h1>
            <p id="deal">서울 핫플레이스 최저가로 모아보기!</p>
        </div>
        <div class="images">
            <div class="image1">
                
                    <img src="../static/images/HotDeal/핫딜-맛집(글씨o).svg" id="im">
        
               
             
                    <img src="../static/images/HotDeal/핫딜-카페(글씨o).svg"  id="im">
                   
                   
                </div>       
              
            <div class="image2">
                
                     <img src="../static/images/HotDeal/핫딜-전시회(글씨o).svg"  id="im">
            
                     <img src="../static/images/HotDeal/핫딜-공연(글씨ㅇ).svg"  id="im">
            </div> 
            <div class="image3">
                     <img src="../static/images/HotDeal/핫딜-힐링(글씨ㅇ).svg"  id="im">
                     <img src="../static/images/HotDeal/핫딜-뷰맛집(글씨ㅇ).svg"  id="im">
            </div>
            <div class="image4">  
                    <img src="../static/images/HotDeal/핫딜_나무.svg"  id="im">
                    <img src="../static/images/HotDeal/핫딜_노트북.svg"  id="im"s>
                    
            </div>
            <hr style="border:1px color= black" width="80%">
        </div>
            <div class="bottom">
            
                <div class="dod">
                  <img src="../static/images/돋보기.svg">
                </div>
                <div class="home">
                  <img src="../static/images/홈.svg">
                </div>
                <div class="man">
                   <img src="../static/images/마이페이지 사람.svg">
                </div>
            </div>    

    </div>
</body>
</html>