<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/map_before(2-3).css">
</head>
<body id="Alt" class="body1" >
     <!-- class="body1" onclick="dblclick()" -->
    <div class = "page" id="Ctrl">
    
        <div class='map'>
            <img src = "../static/images/풀지도.svg" id="map">           
        </div>     
        <div class="box">
            <div class="container-1">
                <span class="icon"><img src="../static/images/서치바 돋보기.svg" id="s"></span>
                <span class="icon"><img src="../static/images/뒤로가기.svg" id="b"></span>
    
                <input type="search" id="search" placeholder="어디로 가고 싶으세요?" />
            </div>
        </div>
    
        <div class="button" >
            <button id="button"><img src="../static/images/맛집.svg">맛집</button>
            <button id="button"><img src="../static/images/카페.svg">카페</button>       
            <button id="button"><img src="../static/images/문화공간.svg">문화공간</button>       
            <button id="button"><img src="../static/images/힐링.svg">힐링</button>       
            <button id="button"><img src="../static/images/액티비티.svg">액티비티</button>       
            
        </div>
        <div class="online">
            <img src="../static/images/오늘이 프로필.svg" class = "today">
            <img src="../static/images/내일이 프로필.svg" class = "tomorrow">
        </div>
        <div class="middle">
            <div class="button2">
                <button class="bu" id="button">선택</button>
                <button class="bu" id="button"><A href="mapAfter2.html">완료</button></A>
            </div>
            
        </div>
        <div class="bottom">
            <div class="dod">
              <img src="../static/images/돋보기.svg">
            </div>
            <div class="home">
              <img src="../static/images/홈.svg">
            </div>
            <div class="man">
               <img src="../static/images/마이페이지 사람.svg">
            </div>
        </div>
    </div>
   
    </div>
    <script src="../static/js/mapbefore(2-3).js"></script>

</body>
</html>