<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/map_before.css">
</head>
<body>
    <div class = "page">
        <div class="top">
            <input type="text" name="search" class="text-field">
                     
        </div>
        <div class="map">
            <img src = "../static/images/지도.svg",class=map1>
        </div>     
       
        <div class="bottom">

        </div>
        <div class="pin" onclick="pinClick()"></div>
        <script src="../static/js/map.js"></script>

    </div>
</body>
</html>