<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/mapAfter2.css">
</head>
<body>
    <div class = "page">
        <div class = "first-line">
            <div class ="undo">
                <a href= "#"><img src = "../static/images/뒤로가기.svg"></a>
            </div>
            <input type="submit" value="저장" class="save-button", style="color:white"> 
        </div>
        <div class = "second-line">
            성수동
        </div>

        
    </div>
    
</body>
</html>