<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/mapAfter2.css">
    <script src="../static/js/mapAfter2.js"></script>
</head>
<body>
    <div class = "page">
        <div class = "first-line">
            <div class ="undo">
                <a href= "../templates/map_before(2-3).html"><img src = "../static/images/뒤로가기.svg"></a>
            </div>
            <input type="submit" value="저장" class="save-button", style="color:white"> 
        </div>
        <div class = "second-line">
            성수동
        </div>
        <div class="third-line">
            <div class="date">
                2022. 06. 20
            </div>
            <div class="triangle">
                <img src="../static/images/캘린더 옆 세모.svg">
            </div>
            <div class="online">
                <img src="../static/images/오늘이 프로필.svg" class = "today">
                <img src="../static/images/내일이 프로필.svg" class = "tomorrow">
            </div>
        </div>
        <div class="fourth-line">
            <div class="map">
                <canvas id="canvas"></canvas>
                <div class="map-img">
                    <img src="../static/images/MapAfter2 지도.svg">
                </div>
                <div class="pin1">
                    <img src="../static/images/핀.svg" >
                </div>
                <div class="pin2">
                    <img src="../static/images/핀.svg" >
                </div>
                <div class="pin3">
                    <img src="../static/images/핀.svg" >
                </div>
                
            </div>
        </div>
        <div class="fifth-line">
            <div class="left">
                <img src="../static/images/연혁.svg"  class = "png">
                <a href ="http://kko.to/6LPoXmdu9"><img src = "../static/images/거리.svg" class = "png-1"></a>
            </div>
            <div class="right">
                <div draggable ="true" class="blank">
                    <div class="total">
                        <div class="element1">
                            스시오오모토
                        </div>
                        <div class="element2">
                            음식점
                        </div>
                    </div>
                    <div class="total-right">
                        <div class="element3" id = "move">
                            <img src="../static/images/선택.svg">
                        </div>
                        <div class="element4">
                            X
                        </div>
                    </div>
                    
                </div>
                
                <div draggable ="true" class="blank">
                    <div class="total">
                        <div class="element1">
                            블루보틀 성수 카페
                        </div>
                        <div class="element2">
                            카페
                        </div>
                    </div>
                    <div class="total-right">
                        <div class="element3" id = "move">
                            <img src="../static/images/선택.svg">
                        </div>
                        <div class="element4">
                            X
                        </div>
                    </div>
                    
                </div>
                <div draggable ="true" class="blank">
                    <div class="total">
                        <div class="element1">
                            돌체라테 꼭 먹기!
                        </div>
                        <div class="element2">
                        </div>
                    </div>
                    <div class="total-right">
                        <div class="element3" id = "move">
                            <img src="../static/images/선택.svg">
                        </div>
                        <div class="element4">
                            X
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="sixth-line">
            <input type="submit" value="+ 장소 추가" class="bottom-box", style="color:white"> 
            <input type="submit" value="+ 메모 추가" class="bottom-box", style="color:white"> 
            
        </div>
    </div>
    
</body>
</html>