<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mypagecalendar.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
    <a href="mypage.html"><img id='back'src="../static/images/뒤로가기.svg"></a>
      <br>
        <div class="May">
          <h2>5월 2022</h2>
          <br>
          <div class="day">
            <div>일</div>
            <div>월</div>
            <div>화</div>
            <div>수</div>
            <div>목</div>
            <div>금</div>
            <div>토</div>
          </div>
          <div class="number">
            <div class="first">
              <button id="nu1">1</button>
              <button id="nu1">8</button>
              <button id="nu1">15</button>
              <button id="nu1">22</button>
              <button id="nu1">29</button>
            </div>
            
            <div class="second">
              
              <button id="nu">2</button>
              <button id="nu">9</button>
              <button id="nu">16</button>
             <button id="nu">23</button>
             <button id="nu">30</button>
            </div>

            <div class="third">
              
              <button id="nu">3</button>
              <button id="nu">10</button>
              <button id="nu">17</button>
              <button id="nu">24</button>
              <button id="nu">31</button>
      
            </div>
            <div class="fourth">
               <button id="nu3">4</button>
               <button id="nu3">11</button>
               <button id="nu3">18</button>
               <button id="nu3">25</button>
            </div>

            <div class="fifth">
             
             <button id="nu3">5</button>
             <button id="nu3">12</button>
             <button id="nu3">19</button>
             <button id="nu3">26</button>
            </div>

            <div class="sixth">
             <button id="nu3">6</button>
             <button id="nu3">13</button>
             <button id="nu3">20</button>
             <button id="nu3">27</button>
            </div>
            <div class="seventh">
             <button id="nu2">7</button>
             <button id="nu2">14</button>
             <button id="nu2">21</button>
             <button id="nu2">28</button>

            </div>
          </div>
        </div>

        <div class="june">
          <h2>6월 2022</h2>
          <br>
          <div class="day">
            <div>일</div>
            <div>월</div>
            <div>화</div>
            <div>수</div>
            <div>목</div>
            <div>금</div>
            <div>토</div>
          </div>
          <div class="number">
            <div class="first">
              <button id="nu1">1</button>
              <button id="nu1">8</button>
              <a href="save.html"><button id="nu5">15</button></a>
              <button id="nu1">22</button>
            </div>
            
            <div class="second">
              
              <button id="nu">2</button>
              <button id="nu">9</button>
              <button id="nu">16</button>
             <button id="nu">23</button>
            </div>

            <div class="third">
              
              <button id="nu">3</button>
              <button id="nu">10</button>
              <button id="nu">17</button>
              <button id="nu">24</button>
      
            </div>
            <div class="fourth1">
               <button id="nu4">4</button>
               <button id="nu4">11</button>
               <button id="nu4">18</button>
               <button id="nu4">25</button>
            </div>

            <div class="fifth1">
             
             <button id="nu4">5</button>
             <button id="nu4">12</button>
             <button id="nu4">19</button>
             <button id="nu4">26</button>
            </div>

            <div class="sixth1">
             <button id="nu4">6</button>
             <button id="nu4">13</button>
             <button id="nu4">20</button>
             <button id="nu4">27</button>
            </div>
            <div class="seventh1">
             <button id="nu2">7</button>
             <button id="nu2">14</button>
             <button id="nu2">21</button>
             <button id="nu2">28</button>

            </div>
          </div>
          
        </div>
      
         <hr id="line"> 
      
            <div class="bottom">
                <div class="dod">
                  <img src="../static/images/돋보기.svg">
                </div>
                <div class="home">
                  <img src="../static/images/홈.svg">
                </div>
                <div class="man">
                   <img src="../static/images/마이페이지 사람.svg">
                </div>
            </div>    

    </div>
</body>
</html>