<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="top">
            <img src="../static/images/mypage/My page_오늘이 프로필.svg">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <h2>오늘이</h2>
            &nbsp;&nbsp;&nbsp;
            <img src="../static/images/mypage/편집하기.svg">
            

        
        </div>
        <hr>
        <div class="middle">
            <div class="1">
                <a href="mypagecalendar.html"> <img src="../static/images/mypage/내 코스.svg"></a>
                <p id="write">내 코스</p>
            </div>
            <div class="2">
                <img src="../static/images/mypage/핀한 장소.svg">
                <p id="write">핀한 장소</p>

            </div>
            <div class="3">
                <img src="../static/images/mypage/내 에약.svg">
                <p id="write">내 예약</p>

            </div>
            <div class="4">
                <img src="../static/images/mypage/쿠폰함.svg">
                <p id="write">쿠폰함</p>

            </div>        
        
        </div>
         <hr>

         <div class="logout">
            <p>로그아웃</p>
            <p>탈퇴하기</p>
        </div>

         <hr id="line">
      
            <div class="bottom">
                          
                
                <div class="dod">
                  <img src="../static/images/돋보기.svg">
                </div>
                <div class="home">
                  <img src="../static/images/홈.svg">
                </div>
                <div class="man">
                   <img src="../static/images/마이페이지 사람.svg">
                </div>
            </div>    

    </div>
</body>
</html>