<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/register.css">

</head>
<body>
    
    <div class = "status">
        <p class = "clock"></p>
        <div class = "top-right">
            <img src = "../static/images/와이파이.jpg">
        </div>
    </div>
    
    <script src="../static/js/register.js"> </script>
    <div class ="undo">
        <a href= "login.html"><img src = "../static/images/뒤로가기.svg"></a>
    </div>
    <div class = "sign-up">
        Sign Up
    </div>
    <form>
        <p>이름</p>
        <input type = "text" name = "username"><br>
    </form>
    <form>
        <p>이메일(비밀번호)</p>
        <input type = "text" name = "username"><br>
    </form>
    <form>
        <p>비밀번호</p>
        <input type = "text" name = "username"><br>
    </form>
    <form>
        <p>비밀번호 확인</p>
        <input type = "text" name = "username"><br>
    </form>
    
    
    </div>
    <div class ="box">
        완료
    </div>
</body>
</html>