<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/seoulMap.css">
</head>
<body>
    <div class="page">
        <div class="first-line">
            <div class="online">
                <img src="../static/images/오늘이 프로필.svg" alt="" class = "today">
                <img src="../static/images/내일이 프로필.svg" alt="" class = "tomorrow">
            </div>
            <div class="add-friend">
                <button class="button">
                    + 친구 추가
                </button>
            </div>
        </div>
    </div>
</body>
</html>