아무데나 클릭해 보세요
<br><br><br>
 
<script language="JavaScript">

    function makeImage(e){
        const evt = window.event ? window.event : e;  // 이벤트 받기 (파폭, IE 처리)
 
        const img = document.createElement('img');    // 이미지 객채 생성
        
 
        img.src = "../static/images/pin1.svg"// 이미지 경로 설정 (랜덤)
        img.style.position = 'absolute';
        img.style.top = evt.clientY + document.body.scrollTop;
        img.style.left = evt.clientX + document.body.scrollLeft;
        document.body.appendChild(img);
    }
    document.onclick = makeImage;

  
document.onclick=remove;
//     $(document).ready(function () {
// 	$("img").click(function () {
// 		$(this).attr('src',"");
// 	})
// });
</script>